@charset "UTF-8";
@import url("iconsfont.css");
/* Скидання стилів */
@import url("reset.css");
@import url("variables.css");
/* Основні стилі */
body {
  background-color: var(--bg-color);
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  opacity: 0;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}
@media (min-width: 48em) and (max-width: 101.87375em) {
  body {
    font-size: 1rem;
  }
}
@media (min-width: 101.875em) {
  body {
    font-size: 1.125rem;
  }
}
.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}
.loaded body {
  opacity: 1;
}

.wrapper {
  min-height: 100%;
  overflow: clip; /* clip */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section-header__title {
  color: var(--white-color);
  font-size: 1.25rem;
  font-weight: 700;
  text-wrap: balance;
}
@media (min-width: 48em) and (max-width: 101.87375em) {
  .section-header__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 101.875em) {
  .section-header__title {
    font-size: 2.375rem;
  }
}
.section-header__title:not(:last-child) {
  -webkit-margin-after: 0.3684210526em;
          margin-block-end: 0.3684210526em;
}
.section-header__title--big {
  font-size: 1.75rem;
}
@media (min-width: 48em) and (max-width: 101.87375em) {
  .section-header__title--big {
    font-size: 3rem;
  }
}
@media (min-width: 101.875em) {
  .section-header__title--big {
    font-size: 3.625rem;
  }
}
.section-header__title--big:not(:last-child) {
  -webkit-margin-after: 0.2413793103em;
          margin-block-end: 0.2413793103em;
}
.section-header__text:not(:last-child) {
  -webkit-margin-after: 2.7777777778em;
          margin-block-end: 2.7777777778em;
}
.section-header--max-width {
  max-width: 81.25rem;
}

.button {
  border-radius: 0.375rem;
  border: 0.0625rem solid var(--green-color);
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: var(--green-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .button:hover {
    color: var(--bg-color);
    background-color: var(--green-color);
  }
}

.header {
  position: fixed;
  inline-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
  z-index: 50;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: var(--header-bg-color);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
.header__container {
  padding-block: 0.75rem;
  display: grid;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: auto 1fr;
}
@media (min-width: 48em) and (max-width: 74.99875em) {
  .header__container {
    grid-template-columns: auto 1fr auto;
  }
}
@media (min-width: 62em) {
  .header__container {
    padding-block: 1rem;
    gap: 1.875rem;
  }
}
@media (min-width: 75em) {
  .header__container {
    grid-template-columns: auto 1fr auto;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
  inline-size: 2rem;
}
.header__actions {
  position: relative;
  z-index: 5;
  justify-self: end;
}

.menu {
  padding: 5.3125rem 0.9375rem 1.875rem 0.9375rem;
}
@media (min-width: 48em) {
  .menu {
    padding: 0.3125rem;
  }
}
@media (min-width: 62em) {
  .menu {
    padding: 0.875rem;
  }
}
@media (max-width: 47.99875em) {
  .menu {
    position: fixed;
    inline-size: 100%;
    inset-inline-start: -100%;
    inset-block-start: 0;
    z-index: 2;
    overflow: auto;
    -webkit-transition: inset-inline-start 0.5s;
    transition: inset-inline-start 0.5s;
  }
  .menu-open .menu {
    inset-inline-start: 0%;
  }
  .menu::before {
    content: "";
    block-size: 4.0625rem;
    inline-size: 100%;
    position: fixed;
    inset-inline-start: -100%;
    inset-block-start: 0;
    -webkit-transition: inset-inline-start 0.5s;
    transition: inset-inline-start 0.5s;
    background-color: var(--dark-color-2);
  }
  .menu-open .menu::before {
    inset-inline-start: 0%;
  }
}
.menu__list {
  color: var(--dark-color-01);
  font-size: 16px;
  line-height: 1.25; /* 125% */
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  row-gap: 0.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 44.25rem;
  margin: 0 auto;
}
@media (max-width: 47.99875em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 0.9375rem;
  }
}
.menu__link {
  padding-inline: 0.5rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--green-color);
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    inline-size: 1.875rem;
    block-size: 1.125rem;
    position: relative;
  }
  .icon-menu::before, .icon-menu::after,
  .icon-menu span {
    content: "";
    position: absolute;
    block-size: 0.125rem;
    inline-size: 100%;
    inset-inline-end: 0;
    background-color: var(--dark-color-01);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .icon-menu::before {
    inset-block-start: 0;
  }
  .menu-open .icon-menu::before {
    inset-block-start: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }
  .icon-menu::after {
    inset-block-end: 0;
    inline-size: 50%;
  }
  .menu-open .icon-menu::after {
    inset-block-end: 50%;
    inline-size: 100%;
    -webkit-transform: translateY(50%) rotate(45deg);
        -ms-transform: translateY(50%) rotate(45deg);
            transform: translateY(50%) rotate(45deg);
  }
  .icon-menu span {
    inset-block-start: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .menu-open .icon-menu span {
    inline-size: 0;
  }
}

.actions-header {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}
@media (any-hover: hover) {
  .actions-header:hover {
    color: var(--green-color);
  }
}

.request-help {
  background-color: var(--dark-color-01);
}
.request-help__container {
  padding-block: 5rem;
}
.request-help__body {
  max-width: 74.5rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}
.request-help__title {
  color: var(--bg-color);
  text-align: center;
  font-size: 2.375rem;
  font-weight: 700;
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.25rem;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 0.0625rem solid var(--grey-color-01);
}
.form__item lable {
  color: var(--green-color);
  font-size: 0.875rem;
  font-weight: 600;
  padding-inline: 1.5rem;
}
.form__item input {
  color: var(--bg-color);
  padding-inline: 1.5rem;
  -webkit-padding-after: 0.625rem;
          padding-block-end: 0.625rem;
}
.form__item input:placeholder {
  color: var(--grey-color-02);
  font-size: 0.875rem;
}
.form__item select {
  color: var(--bg-color);
  background-color: transparent;
  font-weight: 400;
  padding-inline: 1.5rem;
  -webkit-padding-after: 0.625rem;
          padding-block-end: 0.625rem;
  font-size: 0.875rem;
  position: relative;
}
.form__item select option {
  position: absolute;
  background-color: var(--dark-color-01);
  width: 80%;
}
.form__item textarea {
  resize: none;
}
.form__button {
  border-radius: 0.375rem;
  background: var(--green-color);
  padding: 0.75rem 1.5rem;
  color: var(--bg-color);
  font-size: 0.9375rem;
  font-weight: 500;
  -ms-flex-item-align: center;
      align-self: center;
}

.iti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -webkit-margin-start: 1.5rem;
          margin-inline-start: 1.5rem;
}
.iti__selected-flag {
  padding: 0;
}
.iti__selected-dial-code {
  color: var(--bg-color);
  font-size: 0.875rem;
}
.iti__flag-container {
  -webkit-padding-after: 0.625rem;
          padding-block-end: 0.625rem;
}

.footer {
  background-color: var(--dark-color-02);
  color: var(--bg-color);
  padding-block: 3.125rem 1.875rem;
}
.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-padding-after: 2.5rem;
          padding-block-end: 2.5rem;
  border-bottom: 0.0625rem solid var(--dark-color-03);
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -ms-flex-preferred-size: 11.6875rem;
      flex-basis: 11.6875rem;
}
@media (max-width: 800px) {
  .footer__item {
    position: relative;
    -ms-flex-preferred-size: 20px;
        flex-basis: 20px;
  }
}
.footer__item h4 {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.025rem;
}
.footer__item a {
  color: var(--light-color-01);
  font-size: 1rem;
  letter-spacing: -0.02rem;
}
.footer__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}
@media (max-width: 800px) {
  .footer__sub {
    inline-size: 100%;
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
.footer__link {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.footer__icons {
  -webkit-padding-before: 2rem;
          padding-block-start: 2rem;
  max-width: 17.875rem;
  margin: 0 auto;
}
.footer__text {
  -webkit-padding-before: 2rem;
          padding-block-start: 2rem;
  text-align: right;
  color: #F2F2F2;
  font-size: 0.8125rem;
  letter-spacing: -0.01625rem;
}

.logo--footer {
  -ms-flex-preferred-size: 17.9375rem;
      flex-basis: 17.9375rem;
}
@media (max-width: 800px) {
  .logo--footer {
    -ms-flex-preferred-size: 20px;
        flex-basis: 20px;
  }
}

@media (max-width: 800px) {
  .footer__item.active .footer__sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    visibility: visible;
  }
  .footer__item.active h4::after {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
}
.home-page > *:not(.home-page__hero):not(:last-child) {
  -webkit-margin-after: 3.125rem;
          margin-block-end: 3.125rem;
}
@media (min-width: 48em) and (max-width: 101.87375em) {
  .home-page > *:not(.home-page__hero):not(:last-child) {
    -webkit-margin-after: 7.5rem;
            margin-block-end: 7.5rem;
  }
}
@media (min-width: 101.875em) {
  .home-page > *:not(.home-page__hero):not(:last-child) {
    -webkit-margin-after: 9.375rem;
            margin-block-end: 9.375rem;
  }
}
.home-page__items-slider {
  -webkit-padding-before: 3.75rem;
          padding-block-start: 3.75rem;
}
@media (min-width: 48em) and (max-width: 101.87375em) {
  .home-page__items-slider {
    -webkit-padding-before: 6.875rem;
            padding-block-start: 6.875rem;
  }
}
@media (min-width: 101.875em) {
  .home-page__items-slider {
    -webkit-padding-before: 14.375rem;
            padding-block-start: 14.375rem;
  }
}
.hero__body {
  position: relative;
  z-index: 5;
  -webkit-padding-before: 7.5rem;
          padding-block-start: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-block-size: 100svh;
}
.hero__play {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__icon-play {
  aspect-ratio: 1/1;
  block-size: 43vmin;
}
.hero__content {
  inline-size: 100%;
  text-align: center;
  position: relative;
  -webkit-padding-after: 2.5rem;
          padding-block-end: 2.5rem;
}
.hero__content::after {
  content: "";
  z-index: 2;
  block-size: 150%; /* 581/860 */
  position: absolute;
  inset-inline-start: 0;
  inline-size: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #141414), to(rgba(20, 20, 20, 0)));
  background: linear-gradient(to top, #141414 50%, rgba(20, 20, 20, 0) 100%);
  inset-block-end: 0;
}
.hero__section-header {
  position: relative;
  z-index: 3;
  max-inline-size: 68.4375rem;
  margin-inline: auto;
}
.hero__backgroung {
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;
  inline-size: 100vw;
  min-block-size: 100svh;
}
.hero__backgroung::before {
  content: "";
  z-index: 2;
  block-size: 67.55814%; /* 581/860 */
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#141414), to(rgba(20, 20, 20, 0)));
  background: linear-gradient(to bottom, #141414 0%, rgba(20, 20, 20, 0) 100%);
  inline-size: 100%;
}
.hero__image {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.devices__section-header {
  -webkit-margin-after: 2.5rem;
          margin-block-end: 2.5rem;
}
@media (min-width: 48em) and (max-width: 101.87375em) {
  .devices__section-header {
    -webkit-margin-after: 3.75rem;
            margin-block-end: 3.75rem;
  }
}
@media (min-width: 101.875em) {
  .devices__section-header {
    -webkit-margin-after: 5rem;
            margin-block-end: 5rem;
  }
}
.devices__items {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(clamp(15.625rem, 32%, 100%), 1fr));
}
@media (min-width: 101.875em) {
  .devices__items {
    gap: 1.875rem;
  }
}
.item-device {
  border-radius: 0.75rem;
  border: 1px solid var(--dark-color-4);
  background: linear-gradient(222deg, rgba(229, 0, 0, 0.5) -208.03%, rgba(229, 0, 0, 0) 41.32%), #0f0f0f;
  padding: 1.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate(0px, 15%);
      -ms-transform: translate(0px, 15%);
          transform: translate(0px, 15%);
  opacity: 0;
}
@media (min-width: 48em) and (max-width: 101.87375em) {
  .item-device {
    padding: 2.5rem;
  }
}
@media (min-width: 101.875em) {
  .item-device {
    padding: 3.125rem;
  }
}
.item-device__header {
  display: inline-grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  gap: 1rem;
}
.item-device__header:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (min-width: 48em) and (max-width: 101.87375em) {
  .item-device__header:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 101.875em) {
  .item-device__header:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.item-device__icon {
  width: 2.75rem;
  aspect-ratio: 1/1;
  -ms-flex-item-align: start;
      align-self: start;
  padding: 0.625rem;
  border-radius: 0.75rem;
  border: 1px solid var(--dark-color-1);
  background-color: var(--bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 48em) and (max-width: 101.87375em) {
  .item-device__icon {
    width: 3rem;
  }
}
@media (min-width: 101.875em) {
  .item-device__icon {
    width: 4.5rem;
  }
}
.item-device__image-icon {
  max-width: 100%;
}
.item-device__title {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--white-color);
}
@media (min-width: 48em) and (max-width: 101.87375em) {
  .item-device__title {
    font-size: 1.25rem;
  }
}
@media (min-width: 101.875em) {
  .item-device__title {
    font-size: 1.5rem;
  }
}
.--animate .item-device {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.--animate .item-device:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.--animate .item-device:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.--animate .item-device:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.--animate .item-device:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.--animate .item-device:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.--animate .item-device:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.faq__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .faq__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 48em) {
  .faq__section-header {
    -ms-flex-preferred-size: 81.25rem;
        flex-basis: 81.25rem;
  }
}
.faq__button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
/* --------------------- */
[class*=__container] {
  padding-inline: 0.9375rem;
  margin: 0 auto;
}
@media (min-width: 90.06125em) {
  [class*=__container] {
    max-width: 111.375rem;
  }
}

/* --------------------- */