:root {
  --dark-color-01: #131313;
  --dark-color-02: #070707;
  --dark-color-03: #272727;
  --bg-color: #fff;
  --light-color-01: #F2F2F2;
  --header-bg-color: rgba(243, 243, 243, 0.05);
  --green-color: #015E38;
}