// Заголовок секції
.section-header {
	> * {
	}
	// .section-header__title
	&__title {
		color: var(--white-color);
		font-size: toRem(20);
		font-weight: 700;

		text-wrap: balance;

		@media (min-width: toEm(768)) and (max-width: toEm(1629.98)) {
			font-size: toRem(30);
		}
		@media (min-width: toEm(1630)) {
			font-size: toRem(38);
		}
		&:not(:last-child) {
			margin-block-end: toEm(14, 38);
		}

		&--big {
			font-size: toRem(28);
			@media (min-width: toEm(768)) and (max-width: toEm(1629.98)) {
				font-size: toRem(48);
			}
			@media (min-width: toEm(1630)) {
				font-size: toRem(58);
			}
			&:not(:last-child) {
				margin-block-end: toEm(14, 58);
			}
		}
	}
	// .section-header__text
	&__text {
		&:not(:last-child) {
			margin-block-end: toEm(50, 18);
		}
	}

	&--max-width {
		max-width: toRem(1300);
	}
}
// Елементи форм
.button {
	border-radius: toRem(6);
	border: toRem(1) solid var(--green-color);

	
	padding: toRem(12) toRem(24);
	font-size: toRem(16);
	color: var(--green-color);

	transition: all 0.3s;

	// span {
	// 	display: flex;
	// 	gap: toRem(9);
	// 	align-items: center;
	// }

	// @media (min-width: toEm(1630)) {
	// 	padding: toRem(18) toRem(24);
	// 	border-radius: toRem(8);
	// 	font-size: toRem(18);
	// }
	@media (any-hover: hover) {
		&:hover {
			color: var(--bg-color);
			background-color: var(--green-color);
		}
	}
}