// Заголовок секції
.section-header {
	> * {
	}
	// .section-header__title
	&__title {
		color: var(--white-color);
		font-size: toRem(20);
		font-weight: 700;

		text-wrap: balance;

		@media (min-width: toEm(768)) and (max-width: toEm(1629.98)) {
			font-size: toRem(30);
		}
		@media (min-width: toEm(1630)) {
			font-size: toRem(38);
		}
		&:not(:last-child) {
			margin-block-end: toEm(14, 38);
		}

		&--big {
			font-size: toRem(28);
			@media (min-width: toEm(768)) and (max-width: toEm(1629.98)) {
				font-size: toRem(48);
			}
			@media (min-width: toEm(1630)) {
				font-size: toRem(58);
			}
			&:not(:last-child) {
				margin-block-end: toEm(14, 58);
			}
		}
	}
	// .section-header__text
	&__text {
		&:not(:last-child) {
			margin-block-end: toEm(50, 18);
		}
	}

	&--max-width {
		max-width: toRem(1300);
	}
}

.button {
	border-radius: toRem(6);
	border: toRem(1) solid var(--green-color);

	
	padding: toRem(12) toRem(24);
	font-size: toRem(16);
	color: var(--green-color);

	transition: all 0.3s;
		
	@media (any-hover: hover) {
		&:hover {
			border: toRem(1) solid transparent;
			background-color: var(--bg-color);
		}
	}

	&:disabled {
		border: toRem(1) solid transparent;
		background-color: var(--disabled-btn-color); 
		cursor: not-allowed; 
	}
	&:active {
		color: var(--bg-color);
		border: toRem(1) solid transparent;
		background-color: var(--green-color);
		transform: scale(0.95); 
	}
	// span {
	// 	display: flex;
	// 	gap: toRem(9);
	// 	align-items: center;
	// }

	// @media (min-width: toEm(1630)) {
	// 	padding: toRem(18) toRem(24);
	// 	border-radius: toRem(8);
	// 	font-size: toRem(18);
	// }
	// @media (any-hover: hover) {
	// 	&:hover {
	// 		color: var(--bg-color);
	// 		background-color: var(--green-color);
	// 	}
	// }
}

.homes-cards {
	
	// .homes-cards__list

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: toRem(8);
	}

	// .homes-cards__item

	&__item {
		border: toRem(1) solid var(--light-color-02);
		max-width: toRem(432);
		padding-bottom: toRem(24);
	}

	// .homes-cards__link

	&__link {
		display: flex;
		flex-direction: column;
		gap: toRem(24);
	}

	// .homes-cards__img

	&__img {
		aspect-ratio: 432 / 237;
		img {
			width: 100%;
		}
	}

	// .homes-cards__text

	&__text {
		padding-inline: toRem(12);
		display: flex;
		flex-direction: column;
		gap: toRem(12);
		h5 {
			color: var(--green-color);
			font-size: toRem(16);
			font-weight: 700;
		}
	}

	// .homes-cards__description

	&__description {
	}
}
.description {
	display: grid;
	grid-template-columns: 2fr 4fr 4fr;
	gap: toRem(5);
	// .description__item

	&__item {
		display: flex;
		flex-direction: column;
		gap: toRem(8);
		font-size: toRem(14);

		&:nth-child(2){
			align-items: center;
		}
		&:last-child{
			align-items: end;
		}

		&:not(:last-child) {
			border-right: toRem(1) solid var(--grey-color-03);
		}

		span {
			color: var(--text-color-01);
			font-weight: 500;
		}

		p {
			color: var(--grey-color-04);
		}
	}
}

.title-block {
	color: var(--dark-color-04);
    font-size: toRem(32);
    font-weight: 700;
}

.green-button {
	border-radius: toRem(6);
	background-color: var(--green-color);
	padding: toRem(12) toRem(24);
	color: var(--bg-color);
	font-size: toRem(15);
	font-weight: 500;
	align-self: center;
	transition: all 0.3s;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--green-hover-color);
		}
	}

	&:disabled {
		background-color: var(--disabled-btn-color); 
		cursor: not-allowed; 
	}
	&:active {
		background-color: var(--click-btn-color);
		transform: scale(0.95); 
	}
}

.back-btn {
	margin-bottom: toRem(24);
	a{
		display: inline-flex;
		align-items: center;
		gap: toRem(6);

		color: var(--text-color-01);
		font-size: toRem(14);
		line-height: 1.42; /* 142.857% */
	}
	a::before{
		content: "";
		flex-shrink: 0;
		inline-size: toRem(14);
		block-size: toRem(14);
		background: url("../img/icons/left.svg") 0 0 / 100% no-repeat;
	}
}
