@use "sass:math";


@import "_mixins.scss";

// Іконочний шрифт
@import url("iconsfont.css");

/* Скидання стилів */
@import url("reset.css");

// Змінні
@import url("variables.css");

/* Основні стилі */
body {
	background-color: var(--bg-color);
	line-height: 1.5;
	font-size: toRem(14);

	@media (min-width: toEm(768)) and (max-width: toEm(1629.98)) {
		font-size: toRem(16);
	}
	@media (min-width: toEm(1630)) {
		font-size: toRem(18);
	}
	font-family: "Plus Jakarta Sans", sans-serif;

	opacity: 0;
	transition: opacity 1.5s;

	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	.loaded & {
		opacity: 1;
	}
}
.wrapper {
	min-height: 100%;
	overflow: clip; /* clip */

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
	// padding-block-end: toRem(80);
	// @media (min-width: toEm(768)) and (max-width: toEm(1629.98)) {
	// 	padding-block-end: toRem(100);
	// }
	// @media (min-width: toEm(1630)) {
	// 	padding-block-end: toRem(120);
	// }
}

// Компоненти
@import "_components.scss";
// @import "_popups.scss";
@import "_header.scss";
@import "_form.scss";
@import "_footer.scss";
@import "sections/_category.scss";
@import "sections/_popular.scss";
@import "sections/_values.scss";
@import "sections/_banner.scss";
@import "sections/_process.scss";
@import "sections/_hero.scss";
@import "_slider.scss";

@import "gallary/_gallary.scss";
// Сторінки
@import "_home.scss";
@import "_detail.scss";

/* --------------------- */
[class*="__container"] {
	padding-inline: toRem(15);
	margin: 0 auto;
	// @media (min-width: toEm(992.98)) {
	// 	margin: 0 auto;
	// 	padding-inline: toRem(40);
	// 	max-width: toRem(1360);
	// }
	@media (min-width: toEm(1440.98)) {
		// padding-inline: toRem(80);
		max-width: toRem(1782);
	}
}
/* --------------------- */
