:root {
    --dark-color-01: #131313;
    --dark-color-02: #070707;
    --dark-color-03: #272727;
    --dark-color-04: #19231B;
    --dark-color-05: #131313;
    --dark-color-06: #191C1F;

    --bg-color: #fff;

    --light-color-01: #F2F2F2;
    --light-color-02: #F5F5F5;

    --header-bg-color: rgba(243, 243, 243, 0.05);
    --btn-bg-color: rgba(255, 255, 255, 0.25);

    --green-color: #015E38;
    --green-hover-color: #014228;
    --disabled-btn-color: #B6B6B6;
    --click-btn-color: #002718;

    --grey-color-01: #B1B1B1;
    --grey-color-02: #616161;
    --grey-color-03: #D9D9D9;
    --grey-color-04: #A7A7A7;

    --text-color-01: #505050;
}
