.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    &__slider{
        position: relative;
        height: calc(100vh - 100px); /* 100px — висота шапки+футера */
        overflow: hidden;
    }
    
}

.hero__img {
    position: absolute;
    width: 100%;
    height: 100%;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 1s ease-in-out;
    }
}

#heroImage1 {
    opacity: 1;
    z-index: 2;
}

#heroImage2 {
    opacity: 0;
    z-index: 1;
}
.hero {
    // position: relative;
    // width: 100%;
    // height: 100vh; 
    // overflow: hidden; 
    
    // &__img {
    //     img {
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         width: 100%;
    //         height: 100%;
    //         object-fit: cover;
    //         opacity: 1;
    //         transition: opacity 0.5s ease-in-out;
    //     }
    // }
    &__container {
        position: relative;
        z-index: 3;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-block-end: toRem(84);


    }
    &__title {
        color: var(--bg-color);
        font-size: toRem(72);
        font-weight: 700;
        margin-block-end: toRem(40);
    }
    &__selects {
        padding: toRem(10);
        max-width: toRem(912);
    }

    &__block {
        margin-bottom: toRem(27);
    }
}
.selects-hero {
    border-radius: toRem(6);
    background-color: rgba(255, 255, 255, 0.25);
    // .selects-hero__form

    &__form {
        display: flex;
        justify-content: space-between;
        gap: toRem(14);
        align-items: center;
        border-radius: toRem(6);
        background-color: var(--bg-color);
        padding: toRem(16) toRem(12);
    }

    // .selects-hero__item

    &__item {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: toRem(4);
        label {
            color: var(--green-color);
            font-size: toRem(14);
            font-weight: 600;
        }
    }
}
