.popular {

    // .popular__container

    &__container {
        display: flex;
        flex-direction: column;
        gap: toRem(32);
    }

    // .popular__header

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: toRem(15);
    }

    &__button {
        color: var(--green-color);
        font-size: toRem(15);
        font-weight: 500;
        display: inline-flex;
        align-items: center;
        gap: toRem(10);

        &::after {
            content: "";
            inline-size: toRem(18);
            block-size: toRem(18);
            flex-shrink: 0;
            background: url("../../img/icons/arrow-green.svg") 0 0 / 100% no-repeat;
        }
    }
}
