
.gallery {
	padding-block-start: toRem(90);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: toRem(2);
		// .gallery__img

		&__img {
			aspect-ratio: 478 / 280;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
}
